<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手动参数设置界面</title>
    {% include "base-head.html" %}
	<script src="/static/js/wsapi.js"></script>
	<script src="/static/js/newline.js"></script>
    <style>
        select {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 30px;
        }

        option {
            text-align: right;
        }
    </style>
	
	<script>
		//var api = WsApi('/newline/step/', 'onlwe.com:8888');
        //var newline = NewLine(api);
	//模拟函数
		function simulation(){
			var data = {
				"status": "ok",
				"reason": "string",
			}
			return data;
		}	
	//设定温度
		function temperature_etting(){
			var temperature = parseFloat(document.getElementById('temperature').value); 		//从输入框中获取温度（数字）
			$.getJSON("/v1.0/json/newline/温度设定/set/"+ String(temperature) +"/?tsp=timestamp", '', function(data, status, xhr){
				//var data = simulation();
				var tab1="<table border=1 width=1160 height=40 class=\"table-bordered table-striped table-responsive\")>";
				tab1+="<tr>";
				if (data.status === "ok" ){
					//成功
					tab1+="<td style=\"color:#00BB00\"><font size=\"3\"><b>&nbsp&nbsp温 度 设 定 成 功<b></font></tb>";
				}else if(data.status === "error" ){
					//失败
					tab1+="<td style=\"color:red\"><font size=\"4\"><b>&nbsp&nbsp温 度 设 定 失 败<b></font></tb>";
				}
				tab1+="</tr>";
				tab1+="</table>";
				div1.innerHTML=tab1;    	//动态打印温度设定情况
			});
		}
	//设定流量
		function flow_etting(){
			var flow = parseFloat(document.getElementById('flow').value); 						//流量（数字）
			$.getJSON("/v1.0/json/newline/温度设定/set/"+ String(flow) +"/?tsp=timestamp", '', function(data, status, xhr){
				//var data = simulation();
				var tab1="<table border=1 width=1160 height=40 class=\"table-bordered table-striped table-responsive\")>";
				tab1+="<tr>";
				if (data.status === "ok" ){
					//成功
					tab1+="<td style=\"color:#00BB00\"><font size=\"3\"><b>&nbsp&nbsp流 量 设 定 成 功<b></font></tb>";
				}else if(data.status === "error" ){
					//失败
					tab1+="<td style=\"color:red\"><font size=\"4\"><b>&nbsp&nbsp流 量 设 定 失 败<b></font></tb>";
				}
				tab1+="</tr>";
				tab1+="</table>";
				div1.innerHTML=tab1;    	//动态打印流量设定情况
			});
		}
	//选择远程运行程序号  
		function mark_etting(){
			var mark_select = document.getElementById('mark_select').value;
			mark_select = distinguish_mark_select(mark_select);			 						//远程运行程序号（数字）
			if (mark_select == ""){
				var tab2="<table border=1 width=1160 height=40 class=\"table-bordered table-striped table-responsive\")>";
				tab2+="<tr>";
				tab2+="<td style=\"color:red\"><font size=\"4\"><b>&nbsp&nbsp请 选 择 远 程 运 行 程 序 号 <b></font></tb>";
				tab2+="</tr>";
				tab2+="</table>";
				div1.innerHTML=tab2;     	//动态打印选择远程运行程序号情况
			}else{
				$.getJSON("/v1.0/json/newline/远程运行程序号选择/set/"+ mark_select +"/?tsp=timestamp", '', function(data, status, xhr){
					//var data = simulation();
					var tab1="<table border=1 width=1160 height=40 class=\"table-bordered table-striped table-responsive\")>";
					tab1+="<tr>";
					if (data.status === "ok" ){
						//成功
						tab1+="<td style=\"color:#00BB00\"><font size=\"3\"><b>&nbsp&nbsp选 择 远 程 运 行 程 序 号 " + mark_select + " 成 功<b></font></tb>";
					}else if(data.status === "error" ){
						//失败
						tab1+="<td style=\"color:red\"><font size=\"4\"><b>&nbsp&nbsp选 择 远 程 运 行 程 序 号 " + mark_select + " 失 败<b></font></tb>";
					}
					tab1+="</tr>";
					tab1+="</table>";
					div1.innerHTML=tab1;    	//动态打印选择远程运行程序号情况
				});
			}
		}		
	//区分远程运行程序号
		function distinguish_mark_select(data){
			var key = "";
			if (data == ""){
				key = "";
			}else if (data == "number"){
				key = "";
			}else if (data == "number1"){
				key = "1";
			}else if (data == "number2"){
				key = "2";
			}else if (data == "number3"){
				key = "3";
			}else if (data == "number4"){
				key = "4";
			}else if (data == "number5"){
				key = "5";
			}
			return key;
		}		
	//运行恒温/压设备
		function equipment_operation(){
			var open = true;
			//var path = "/v1.0/json/newline/恒温_压设备开_关/set/"+ open +"/?tsp=timestamp";
			$.getJSON("/v1.0/json/newline/恒温_压设备开_关/set/"+ open +"/?tsp=timestamp", '', function(data, status, xhr){
				//var data = simulation();
				var tab1="<table border=1 width=1160 height=40 class=\"table-bordered table-striped table-responsive\")>";
				tab1+="<tr>";
				if (data.status === "ok" ){
					//成功
					tab1+="<td style=\"color:#00BB00\"><font size=\"3\"><b>&nbsp&nbsp运 行 恒 温 / 压 设 备 成 功<b></font></tb>";
				}else if(data.status === "error" ){
					//失败
					tab1+="<td style=\"color:red\"><font size=\"4\"><b>&nbsp&nbsp运 行 恒 温 / 压 设 备 失 败<b></font></tb>";
				}
				tab1+="</tr>";
				tab1+="</table>";
				div1.innerHTML=tab1;    	//动态打印温度设定情况
			});
		}
	//停止恒温/压设备
		function equipment_stop(){
			var stop = false;
			$.getJSON("/v1.0/json/newline/恒温_压设备开_关/set/"+ stop +"/?tsp=timestamp", '', function(data, status, xhr){
				var tab1="<table border=1 width=1160 height=40 class=\"table-bordered table-striped table-responsive\")>";
				tab1+="<tr>";
				if (data.status === "ok" ){
					//成功
					tab1+="<td style=\"color:#00BB00\"><font size=\"3\"><b>&nbsp&nbsp停 止 恒 温 / 压 设 备 成 功<b></font></tb>";
				}else if(data.status === "error" ){
					//失败
					tab1+="<td style=\"color:red\"><font size=\"4\"><b>&nbsp&nbsp停 止 恒 温 / 压 设 备 失 败<b></font></tb>";
				}
				tab1+="</tr>";
				tab1+="</table>";
				div1.innerHTML=tab1;    	//动态打印温度设定情况
			});
		}
	//打开排空加液开关
		function equipment_open(){
			var open = true;
			$.getJSON("/v1.0/json/newline/排气加液循环泵开_关/set/"+ open +"/?tsp=timestamp", '', function(data, status, xhr){
				var tab1="<table border=1 width=1160 height=40 class=\"table-bordered table-striped table-responsive\")>";
				tab1+="<tr>";
				if (data.status === "ok" ){
					//成功
					tab1+="<td style=\"color:#00BB00\"><font size=\"3\"><b>&nbsp&nbsp打 开 排 气 加 液 循 环 泵 成 功<b></font></tb>";
				}else if(data.status === "error" ){
					//失败
					tab1+="<td style=\"color:red\"><font size=\"4\"><b>&nbsp&nbsp打 开 排 气 加 液 循 环 泵 失 败<b></font></tb>";
				}
				tab1+="</tr>";
				tab1+="</table>";
				div1.innerHTML=tab1;    	//动态打印温度设定情况
			});		
		}
	//关闭排空加液开关
		function equipment_close(){
			var close = false; 
			$.getJSON("/v1.0/json/newline/排气加液循环泵开_关/set/"+ close +"/?tsp=timestamp", '', function(data, status, xhr){
				var tab1="<table border=1 width=1160 height=40 class=\"table-bordered table-striped table-responsive\")>";
				tab1+="<tr>";
				if (data.status === "ok" ){
					//成功
					tab1+="<td style=\"color:#00BB00\"><font size=\"3\"><b>&nbsp&nbsp关 闭 排 气 加 液 循 环 泵 成 功<b></font></tb>";
				}else if(data.status === "error" ){
					//失败
					tab1+="<td style=\"color:red\"><font size=\"4\"><b>&nbsp&nbsp关 闭 排 气 加 液 循 环 泵 失 败<b></font></tb>";
				}
				tab1+="</tr>";
				tab1+="</table>";
				div1.innerHTML=tab1;    	//动态打印温度设定情况
			});		
		}
	//选择外循环
		function outside_loop(){
			var open = true;
			$.getJSON("/v1.0/json/newline/内_外循环选择/set/"+ open +"/?tsp=timestamp", '', function(data, status, xhr){
				var tab1="<table border=1 width=1160 height=40 class=\"table-bordered table-striped table-responsive\")>";
				tab1+="<tr>";
				if (data.status === "ok" ){
					//成功
					tab1+="<td style=\"color:#00BB00\"><font size=\"3\"><b>&nbsp&nbsp选 择 外 循 环 成 功<b></font></tb>";
				}else if(data.status === "error" ){
					//失败
					tab1+="<td style=\"color:red\"><font size=\"4\"><b>&nbsp&nbsp选 择 外 循 环 失 败<b></font></tb>";
				}
				tab1+="</tr>";
				tab1+="</table>";
				div1.innerHTML=tab1;    	//动态打印温度设定情况
			});			
		}
	//选择内循环
		function inner_loop(){
			var close = false;
			$.getJSON("/v1.0/json/newline/内_外循环选择/set/"+ close +"/?tsp=timestamp", '', function(data, status, xhr){
				var tab1="<table border=1 width=1160 height=40 class=\"table-bordered table-striped table-responsive\")>";
				tab1+="<tr>";
				if (data.status === "ok" ){
					//成功
					tab1+="<td style=\"color:#00BB00\"><font size=\"3\"><b>&nbsp&nbsp选 择 内 循 环 成 功<b></font></tb>";
				}else if(data.status === "error" ){
					//失败
					tab1+="<td style=\"color:red\"><font size=\"4\"><b>&nbsp&nbsp选 择 内 循 环 失 败<b></font></tb>";
				}
				tab1+="</tr>";
				tab1+="</table>";
				div1.innerHTML=tab1;    	//动态打印温度设定情况
			});	
		}
	//远程定值
		function select_definite(){
			var open = true;
			$.getJSON("/v1.0/json/newline/远程定值_程序模式选择/set/"+ open +"/?tsp=timestamp", '', function(data, status, xhr){
				var tab1="<table border=1 width=1160 height=40 class=\"table-bordered table-striped table-responsive\")>";
				tab1+="<tr>";
				if (data.status === "ok" ){
					//成功
					tab1+="<td style=\"color:#00BB00\"><font size=\"3\"><b>&nbsp&nbsp远 程 定 值 选 择 成 功<b></font></tb>";	
				}else if(data.status === "error" ){
					//失败
					tab1+="<td style=\"color:red\"><font size=\"4\"><b>&nbsp&nbsp远 程 定 值 选 择 失 败<b></font></tb>";
				}
				tab1+="</tr>";
				tab1+="</table>";
				div1.innerHTML=tab1;    	//动态打印温度设定情况
			});		
		}
	//程序模式选择
		function mode_selection(){
			var close = false;
			$.getJSON("/v1.0/json/newline/远程定值_程序模式选择/set/"+ close +"/?tsp=timestamp", '', function(data, status, xhr){
				var tab1="<table border=1 width=1160 height=40 class=\"table-bordered table-striped table-responsive\")>";
				tab1+="<tr>";
				if (data.status === "ok" ){
					//成功
					tab1+="<td style=\"color:#00BB00\"><font size=\"3\"><b>&nbsp&nbsp程 序 模 式 选 择 成 功<b></font></tb>";
				}else if(data.status === "error" ){
					//失败
					tab1+="<td style=\"color:red\"><font size=\"4\"><b>&nbsp&nbsp程 序 模 式 选 择 失 败<b></font></tb>";
				}
				tab1+="</tr>";
				tab1+="</table>";
				div1.innerHTML=tab1;    	//动态打印温度设定情况
			});	
		}
	//跳转操作页面
		function skip_page(){
			//self.location="article_show.htm"; 
		}
	
	</script>
	
</head>
<body>
    {% include "base-navbar-top.html" %}

    <div class="container">

        {% if request.GET.e %}
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong>&nbsp;&nbsp;&nbsp;<span>{{ request.GET.e }}</span>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="container">
            <div class="row">
                <h2>
                    <span class="glyphicon glyphicon-cog text-primary"></span>
                    设备参数手动编辑
                </h2>
                <hr>
            </div>

            <form method="post" action="{{ request.path }}">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-2 withunderline">
                                <h3><b>恒 温 / 压 设 备</b></h3>
                            </div>
                        </div>
						
						<div class="row"><p></p></div>
						
						<div class="row">	
							<div style="width: 60%" class="col-xs-2">
								<label><h5><b>温度设定:&nbsp;</b></h5></label>
							</div>
							<div style="width: 40%" class="col-xs-2">
								<label><h5><b>流量设定:&nbsp;</b></h5></label>
							</div>
						</div>
						<div class="row">
							<div style="width: 20%" class="col-xs-1">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="0" value="0" id="temperature">
									<span class="input-group-addon" id="temperature1">℃</span>
								</div>
							</div>
							<div style="width: 20%" class="col-xs-1">
								 <button type="button" class="btn btn-success btn-block glyphicon " onClick="javascript:temperature_etting()">设 定</button>
							</div>
							<div style="width: 20%" class="col-xs-1"></div>
							<div style="width: 20%" class="col-xs-1">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="0" value="0" id="flow">
									<span class="input-group-addon" id="flow1">L/min</span>
								</div>
							</div>
							<div style="width: 20%" class="col-xs-1">
								<button type="button" class="btn btn-success btn-block glyphicon " onClick="javascript:flow_etting()">设 定</button>
							</div>
						</div>
						
						<div class="row"><p></p></div>
						
						<div class="row">	
							<!--<div style="width: 60%" class="col-xs-2">
								<label><h5><b>强制加热百分比设定:&nbsp;</b></h5></label>
							</div>-->
							<div style="width: 40%" class="col-xs-2">
								<label><h5><b>远程运行程序号选择:&nbsp;</b></h5></label>
							</div>
						</div>
						<div class="row">
						<!--<div style="width: 20%" class="col-xs-1">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="0" value="0" id="warm">
									<span class="input-group-addon" id="temperature1">%</span>
								</div>
							</div>
							<div style="width: 20%" class="col-xs-1">
								 <button type="button" class="btn btn-success btn-block glyphicon " onClick="javascript:warm_etting()">设 定</button>
							</div>
							<div style="width: 20%" class="col-xs-1"></div>-->
							<div style="width: 20%" class="col-xs-1">
								<div class="input-group">
									<select id="mark_select" style="padding: 6px 0px" class="form-control">
										<option id="name1" value="">选择运行</option>
										<option id="name2" value="number">N/A</option>
										<option id="name4" value="number1">1</option>
										<option id="name5" value="number2">2</option>
										<option id="name6" value="number3">3</option>
										<option id="name7" value="number4">4</option>
										<option id="name8" value="number5">5</option>
									</select>
									<span class="input-group-addon" id="name1">程序号</span>
								</div>
							</div>
							<div style="width: 20%" class="col-xs-1">
								<button type="button" class="btn btn-success btn-block glyphicon " onClick="javascript:mark_etting()">设 定</button>
							</div>
						</div>
						
						<div class="row"><p></p></div>
						
						<div class="row">	
							<div style="width: 60%" class="col-xs-2">
								<label><h5><b>恒温/压设备开/关:&nbsp;</b></h5></label>
							</div>
							<div style="width: 40%" class="col-xs-2">
								<label><h5><b>排气加液循环泵开/关:&nbsp;</b></h5></label>
							</div>
						</div>
						
						<div class="row">
							<div style="width: 20%" class="col-xs-1">
								 <button type="button" class="btn btn-success btn-block glyphicon " onClick="javascript:equipment_operation()">运 行</button>
							</div>
							<div style="width: 20%" class="col-xs-1">
								 <button type="button" class="btn btn-danger btn-block glyphicon " onClick="javascript:equipment_stop()">停 止</button>
							</div>
							<div style="width: 20%" class="col-xs-1"></div>
							<div style="width: 20%" class="col-xs-1">
								 <button type="button" class="btn btn-success btn-block glyphicon " onClick="javascript:equipment_open()">打 开</button>
							</div>
							<div style="width: 20%" class="col-xs-1">
								 <button type="button" class="btn btn-danger btn-block glyphicon " onClick="javascript:equipment_close()">关 闭</button>
							</div>
						</div>
						
						<div class="row"><p></p></div>

						<div class="row">	
							<div style="width: 60%" class="col-xs-2">
								<label><h5><b>内/外循环选择:&nbsp;</b></h5></label>
							</div>
							<div style="width: 40%" class="col-xs-2">
								<label><h5><b>远程定值/程序模式选择:&nbsp;</b></h5></label>
							</div>
						</div>
						<div class="row">
							<div style="width: 20%" class="col-xs-1">
								<button type="button" class="btn btn-success btn-block glyphicon " onClick="javascript:outside_loop ()">外 循 环</button>
							</div>
							<div style="width: 20%" class="col-xs-1">
								<button type="button" class="btn btn-success btn-block glyphicon " onClick="javascript: inner_loop()">内 循 环</button>
							</div>
							<div style="width: 20%" class="col-xs-1"></div>
							<div style="width: 20%" class="col-xs-1">
								 <button type="button" class="btn btn-success btn-block glyphicon " onClick="javascript:select_definite()">远 程 定 值</button>
							</div>
							<div style="width: 20%" class="col-xs-1">
								 <button type="button" class="btn btn-success btn-block glyphicon " onClick="javascript:mode_selection()">模 式 选 择</button>
							</div>
						</div>
						
						<div class="row"><h6></h6></div>
						<div class="row"><h6></h6></div>
						
						<div id="div1"></div>
						
					</div>	
				</div>		
			
                <div class="row"><h6>&nbsp;</h6></div>

            </form>
        </div>
    </div>
</body>
</html>		







