<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>起始界面</title>
    {% include "base-head.html" %}
	<script src="/static/js/wsapi.js"></script>
	<script src="/static/js/newline.js"></script>
    <style>
        select {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 30px;
        }

        option {
            text-align: right;
        }

    </style>

    <script>
		//var api = WsApi('/newline/step/', 'onlwe.com:8888');
        //var newline = NewLine(api);
	
		//模拟函数
		function simulation(){
			var data = {
				"status": "error",
				"reason": "ok",
				"data": {
					"bms": {
						"型号": "ok",
						"通讯端口": "ok",
						"通讯状态": "ok",
						"设备状态": "ok",
						"地址": "ok",
						"接收数据包": 123,
					},
					"newline": {
						"型号": "ok",
						"通讯端口": "ok",
						"通讯状态": "ok",
						"设备状态": "ok",
						"地址": "ok",
						"工作模式": "ok",
						"接收数据包": 123,
					},
					"step": {
						"工步文件有效": true,   //true有效，false无效
						"文件名": "ok",
						"工步状态": "ok",
						"最大工步数": 12,
						"最大循环次数": 3,
					},
					"license": {
						"SN": "@", // @ 表示试用
						"激活状态": "待激活",
						"用户": "@",
						"过期日期": "@",
					},
					"entry": "/v1.0/json/open/?method=1&model=1&bms=1"
				}
			}
			return data;
		}	
		//读取基本信息,检查工步文件
		function open_test(){		
			$.getJSON("/v1.0/json/basic/?tsp=timestamp", '', function(data, status, xhr){
				//var data = simulation();
				if ( data.status !== "ok" ) {
					//console.error("open failed, reason:", data.reason);
					failure_print(data.reason);
					//return;
				}else{
					var gb_state = data.data.step["工步文件有效"];
					if (gb_state){
						var SN = data.data.license["SN"];
						if (SN === "@"){
							var state = true;
						}
					}else{
						skip_page(1);	//跳转到工步编辑界面
					}
					if(state){
						$.getJSON(data.data.entry, '', function(data, status, xhr){
							if ( data.status !== "ok" ) {
								//console.error("open failed, reason:", data.reason);
								failure_print(data.reason);
								//return;
							}else{
								skip_page(2);	//跳转到工步条目界面
							}
						});
					}
				}
			});	
		}
		//跳转操作页面
		function skip_page(tab){
			if(tab == 1){
				window.location.href = "step_set.htm";
			}else if(tab == 2){
				window.location.href = "article_show.htm";
			}	
		}	
		//失败原因打印
		function failure_print(tab){
			var tab1="<table border=1 width=100% height=40 class=\"table-bordered table-striped table-responsive\")>";
			tab1+="<tr>";
			tab1+="<td style=\"color:red\"><font size=\"4\"><b>&nbsp&nbsp读取基本信息失败，失败原因=" + tab + "!<b></font></tb>";
			tab1+="</tr>";
			tab1+="</table>";
			div1.innerHTML=tab1;				//读取基本信息失败
		}	
	</script>	
</head>
<body>
    {% include "base-navbar-top.html" %}

    <div class="container-fluid">

        {% if request.GET.e %}
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong>&nbsp;&nbsp;&nbsp;<span>{{ request.GET.e }}</span>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-xs-offset-1 col-xs-10">
		
			<div class="row"><h4>&nbsp;</h4></div>
			
			<div class="row"><h4>&nbsp;</h4></div>
			 
			<div class="row"><h4>&nbsp;</h4></div>
			  
            <div class="col-xs-offset-3 col-xs-5">
				<button type="button" class="btn btn-primary btn-lg btn-block btn-info glyphicon" onClick="javascript:open_test()"><font size="5">启 动 程 序</font></button>
            </div>
			
			<div class="row"><h4>&nbsp;</h4></div>
			 
			<div class="row"><h4>&nbsp;</h4></div>
			
			<div id="div1"></div>
        </div>
    </div>
    <script src="/static/js/bootstrap.js"></script>
</body>
</html>